.body {
    background-image: url('img.jpg');
    background-size: cover; /* This makes the image cover the entire element */
    background-position: center; /* This centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
  }
/* body{
    background:linear-gradient(135deg,rgba(0, 0, 0, 1),rgba(76, 76, 75, 0.4));
} */
.md{
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background:linear-gradient(135deg,rgba(14, 6, 79, 0.9),rgba(8, 2, 38, 0.5));  */
    background:linear-gradient(135deg,rgba(0, 0, 0, 1),rgba(76, 76, 75, 0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* color: rgb(8, 8, 39); */
    height: 85vh;
    width: 40vw;
    border-radius: 10%;
    margin-left: 30%;
    /* border: 2px solid rgb(185, 170, 170); */
    margin-top:1%;
    box-shadow: 1px 3px 19px black;
}

.txt{
    font-size:220%;
    font-weight: lighter;
    font-variant: small-caps;
    color: rgb(255, 255, 255);
    padding-top: 1%;
}



.tx{
    color: rgb(194, 194, 193);
}

.int{
    width: 90% !important;
    border-radius: 15px;
    margin-left: 5.3% !important;
    margin-top: 4%;
    text-align: center;
    font-weight:300;
    box-shadow: 1px 3px 4px black;
    
}
@media only screen and (max-width: 600px) {
    .int{
    width: 70%;
    margin-left: 15%;
    height: 5%;
    }
  }
  @media only screen and (max-height: 600px) {
    .int{
    width: 70%;
    margin-left: 15%;
    height: 5%;       
    }
  }

.btn{
    background-color:rgba(255, 236, 236, 0.36);
    width: 40%;
    margin-top: 1%;
    margin-left: 30%;   
    border-radius: 15px;
    box-shadow: 1px 3px 4px black;
    color: white;

}
.t3{
    text-align: center;
    margin-top: 1%;
    color: rgb(194, 194, 193);
    padding: 2%;


}